<% content_for :title, "Nova Despesa" %>

<h1 class="mb-4">➕ Nova Despesa</h1>

<%= render "form", expense: @expense %>

<div class="mt-4">
  <%= link_to "🔙 Voltar às despesas", expenses_path, class: "btn btn-outline-secondary" %>
</div>
